In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Read in data

In [2]:
properties = pd.read_csv("../data/properties_2016.csv")
train = pd.read_csv("../data/train_2016_v2.csv")

/anaconda/envs/Kaggle/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
properties.shape

(2985217, 58)

In [4]:
properties.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN

## Some analysis of the categorical variables

In [5]:
# get the categorical variables
cat_cols=[]
for col in properties.columns:
    if properties[col].dtype == object:
        cat_cols.append(col)
        print (col)

hashottuborspa
propertycountylandusecode
propertyzoningdesc
fireplaceflag
taxdelinquencyflag

In [6]:
# show the percentage of nulls in each categorical variables
for cat_col in cat_cols:
    print(cat_col, properties[cat_col].isnull().sum()/properties.shape[0])

hashottuborspa 0.976881412641
propertycountylandusecode 0.0041125988496
propertyzoningdesc 0.33719089768
fireplaceflag 0.99827047749
taxdelinquencyflag 0.981086132097

In [7]:
properties.columns

Index(['parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock'],
      dtype='object')

From the rest of the categories, we can see that there are some id variables that are supposed to be considered as categorical variables.

Here is the list of these variables:
'airconditioningtypeid', 'architecturalstyletypeid', 'buildingclasstypeid', 'decktypeid', 'heatingorsystemtypeid', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'propertylandusetypeid', 'propertycountylandusecode', 'propertyzoningdesc', 'yearbuilt', 'assessmentyear', 'taxdelinquencyyear', 'regionidcity', 'regionidcounty', 'regionidneighborhood', 'regionidzip', 'storytypeid', 'typeconstructiontypeid'

In [8]:
id_cats = ['airconditioningtypeid', 'architecturalstyletypeid', 'buildingclasstypeid', 'decktypeid', 'heatingorsystemtypeid', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7', 'propertylandusetypeid', 'yearbuilt', 'assessmentyear', 'taxdelinquencyyear', 'regionidcity', 'regionidcounty', 'regionidneighborhood', 'regionidzip', 'storytypeid', 'typeconstructiontypeid']

In [9]:
for col in id_cats:
    properties[col] = properties[col].astype(str)

In [10]:
all_cat_cols = id_cats + cat_cols
all_cat_cols

['airconditioningtypeid',
 'architecturalstyletypeid',
 'buildingclasstypeid',
 'decktypeid',
 'heatingorsystemtypeid',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'propertylandusetypeid',
 'yearbuilt',
 'assessmentyear',
 'taxdelinquencyyear',
 'regionidcity',
 'regionidcounty',
 'regionidneighborhood',
 'regionidzip',
 'storytypeid',
 'typeconstructiontypeid',
 'hashottuborspa',
 'propertycountylandusecode',
 'propertyzoningdesc',
 'fireplaceflag',
 'taxdelinquencyflag']

In [11]:
for col in all_cat_cols:
    print(col, len(properties[col].unique()))

airconditioningtypeid 8
architecturalstyletypeid 9
buildingclasstypeid 6
decktypeid 2
heatingorsystemtypeid 15
pooltypeid10 2
pooltypeid2 2
pooltypeid7 2
propertylandusetypeid 16
yearbuilt 169
assessmentyear 15
taxdelinquencyyear 33
regionidcity 187
regionidcounty 4
regionidneighborhood 529
regionidzip 406
storytypeid 2
typeconstructiontypeid 6
hashottuborspa 2
propertycountylandusecode 241
propertyzoningdesc 5639
fireplaceflag 2
taxdelinquencyflag 2

From the above we can see that some of the categorical variables have more than 200 classes. Before we are able to create bins and find the meanings for them, we drop them first.

In [12]:
drop_cols = []
for col in all_cat_cols:
    if len(properties[col].unique()) > 200:
        drop_cols.append(col)
drop_cols

['regionidneighborhood',
 'regionidzip',
 'propertycountylandusecode',
 'propertyzoningdesc']

In [13]:
for col in drop_cols:
    all_cat_cols.remove(col)
all_cat_cols

['airconditioningtypeid',
 'architecturalstyletypeid',
 'buildingclasstypeid',
 'decktypeid',
 'heatingorsystemtypeid',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'propertylandusetypeid',
 'yearbuilt',
 'assessmentyear',
 'taxdelinquencyyear',
 'regionidcity',
 'regionidcounty',
 'storytypeid',
 'typeconstructiontypeid',
 'hashottuborspa',
 'fireplaceflag',
 'taxdelinquencyflag']

In [14]:
# Fill in nas in the categorical variables
properties = properties.drop(drop_cols, axis=1)
properties[all_cat_cols] = properties[all_cat_cols].fillna('None')

In [15]:
properties.shape

(2985217, 54)

In [16]:
# make the categorical variables binaries.
properties = pd.get_dummies(properties)

In [17]:
properties.shape

(2985217, 519)

In [18]:
# drop the transaction date
train = train.drop(["transactiondate"], axis=1)

In [19]:
# no duplicated rows
np.where(properties.duplicated(subset='parcelid'))

(array([], dtype=int64),)

In [20]:
# duplicated rows
duplicated_train = np.where(train.duplicated(subset='parcelid', keep=False))

In [21]:
train.iloc[duplicated_train].sort_values(by='parcelid').head()

       parcelid  logerror
10828  10736972   -0.0460
10829  10736972   -0.0367
9177   10790468   -0.0450
9178   10790468   -0.0440
2226   10796614   -0.1267

In [22]:
train = train.drop_duplicates(subset='parcelid', keep='first')

In [23]:
data = pd.merge(properties, train, how='left', on=['parcelid'])

In [24]:
data.shape

(2985217, 520)

In [25]:
data.head()

,parcelid,basementsqft,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,...,taxdelinquencyyear_92.0,taxdelinquencyyear_93.0,taxdelinquencyyear_94.0,taxdelinquencyyear_95.0,taxdelinquencyyear_96.0,taxdelinquencyyear_97.0,taxdelinquencyyear_98.0,taxdelinquencyyear_99.0,taxdelinquencyyear_nan,logerror
0,10754147,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,NaN
1,10759547,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,NaN
2,10843547,NaN,0.0,0.0,NaN,NaN,NaN,73026.0,NaN,NaN,...,0,0,0,0,0,0,0,0,1,NaN
3,10859147,NaN,0.0,0.0,7.0,NaN,NaN,5068.0,NaN,NaN,...,0,0,0,0,0,0,0,0,1,NaN
4,10879947,NaN,0.0,0.0,NaN,NaN,NaN,1776.0,NaN,NaN,...,0,0,0,0,0,0,0,0,1,NaN

In [26]:
# split training and testing set
df_train = data.iloc[np.where(data['logerror'].notnull())]
df_test = data.iloc[np.where(data['logerror'].isnull())]

In [27]:
X_train = df_train.drop(["parcelid", "logerror"], axis=1).copy()
y_train = df_train['logerror']
X_test = df_test.drop(['parcelid', 'logerror'], axis=1).copy()

In [28]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)

(90150, 518)
(90150,)
(2895067, 518)

In [29]:
import xgboost as xgb

print("\nSetting up data for XGBoost ...")
# xgboost params
xgb_params = {
    'eta': 0.037,
    'max_depth': 5,
    'subsample': 0.80,
    'objective': 'reg:linear',
    'eval_metric': 'mae',
    'lambda': 0.8,   
    'alpha': 0.4, 
    'silent': 1
}

dtrain = xgb.DMatrix(X_train, y_train)
dtest = xgb.DMatrix(X_test)

/anaconda/envs/Kaggle/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

Setting up data for XGBoost ...

In [30]:
num_boost_rounds = 242
print("\nXGBoost tuned with CV in:")
print("   https://www.kaggle.com/aharless/xgboost-without-outliers-tweak ")
print("num_boost_rounds="+str(num_boost_rounds))

# train model
print( "\nTraining XGBoost ...")
model = xgb.train(dict(xgb_params, silent=1), dtrain, num_boost_round=num_boost_rounds)

print( "\nPredicting with XGBoost ...")
xgb_pred = model.predict(dtest)

print( "\nXGBoost predictions:" )
print( pd.DataFrame(xgb_pred).head() )

XGBoost tuned with CV in:
   https://www.kaggle.com/aharless/xgboost-without-outliers-tweak
num_boost_rounds=242

Training XGBoost ...

Predicting with XGBoost ...

XGBoost predictions:
          0
0  0.141401
1 -0.023844
2  0.291395
3  0.251925
4  0.202613

In [31]:
xgb_pred.shape

(2895067,)

In [32]:
X_test["logerror"] = xgb_pred

In [33]:
np.where(data['logerror'].isnull())[0]

array([      0,       1,       2, ..., 2985214, 2985215, 2985216])

In [34]:
data.loc[np.where(data['logerror'].isnull())[0], 'logerror'] = xgb_pred

In [36]:
# Create submission
submission = pd.read_csv('../data/sample_submission.csv')

In [37]:
submission.head()

   ParcelId  201610  201611  201612  201710  201711  201712
0  10754147       0       0       0       0       0       0
1  10759547       0       0       0       0       0       0
2  10843547       0       0       0       0       0       0
3  10859147       0       0       0       0       0       0
4  10879947       0       0       0       0       0       0

In [38]:
output_cols = submission.columns.tolist()
print(output_cols)

['ParcelId', '201610', '201611', '201612', '201710', '201711', '201712']

In [39]:
output_cols.remove("ParcelId")
print(output_cols)

['201610', '201611', '201612', '201710', '201711', '201712']

In [40]:
for col in output_cols:
    submission[col] = data['logerror']
submission.head()

   ParcelId    201610    201611    201612    201710    201711    201712
0  10754147  0.141401  0.141401  0.141401  0.141401  0.141401  0.141401
1  10759547 -0.023844 -0.023844 -0.023844 -0.023844 -0.023844 -0.023844
2  10843547  0.291395  0.291395  0.291395  0.291395  0.291395  0.291395
3  10859147  0.251925  0.251925  0.251925  0.251925  0.251925  0.251925
4  10879947  0.202613  0.202613  0.202613  0.202613  0.202613  0.202613

In [41]:
submission.to_csv('../data/cat_variable_pred.csv', index=False)